#nbtlogo {
    display: block;
    position: absolute;
    z-index: 1001;
    right: 0;
    bottom: 0;
    border: none;
    width: 95px;
    height: 36px;
    background-image: url(../lib/img/poweredbynbt.png);
}
